body{
    background: rgb(210, 255, 46);
    
}
.container{
    border: 5px solid black;
    width: 95%;
    height: 95vh;
    display: flex;
    text-align: center;
}
.quotes{
    border: 10px solid black;
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding:o 50px ;
    color: rgb(0, 0, 0);
    background-color:#52c5fa ;
    border: 10px solid #ff6600;
    font-family:Georgia, 'Times New Roman', Times, serif; 


}

.quotes p, .quotes h3{
   font-size: 1.5rem;
}
@media(max-width:480px){
    .quotes p, .quotes h3{
        font-size: 1rem;
     }
}